<%- include("header"); %>


<div class="container">
    <img src=<%= output %>>

    <h1>What prompt made this image?</h1>

    <div class="answer">
        <form action="/image" method="post">
            <p>This is a
            <select name="artist" required>
                <option value="none" selected></option>
                <% artists.forEach(function(artist) { %>
                    <option value="<%= artist %>"><%= artist %></option>
                <% }) %>
            </select>
            painting of 
            <select name="noun" required>
                <option value="none" selected></option>
                <% nouns.forEach(function(noun) { %>
                    <option value="<%= noun %>"><%= noun %></option>
                <% }); %>
            </select>
            </p>
            <button type="submit">GUESS</button>
        </form>
    </div>

    <p><%= result %></p>
</div>
